{{< layouts/layout}}

{{$ content}}


<div class="row m-4">
	<div class="col-2 p-3"> 
		{{> filter_template}}
	</div>
	<div class="col-10">
		<div class="row"> <h2>New Products </h2> </div>
		<div class="row">
			{{#newProducts}}
			<div class="col-3 p-1">
				
				{{> productPreview_template}}
				
			</div>
			{{/newProducts}}
			{{^newProducts}}
			<p>Empty list.</p>
			{{/newProducts}}
		</div>
	</div>
	<div class="col-10">
		<div class="row"> <h2>Reconditioned Products </h2> </div>
		<div class="row">
			{{#reconditionedProducts}}
			<div class="col-3 p-1">
				
				{{> productPreview_template}}
				
			</div>
			{{/reconditionedProducts}}
			{{^reconditionedProducts}}
			<p>Empty list.</p>
			{{/reconditionedProducts}}
		</div>
	</div>
	<div class="col-10">
		<div class="row"> <h2>Second-Hand Products </h2> </div>
		<div class="row">
			{{#secondhandProducts}}
			<div class="col-3 p-1">
				
				{{> productPreview_template}}
				
			</div>
			{{/secondhandProducts}}
			{{^secondhandProducts}}
			<p>Empty list.</p>
			{{/secondhandProducts}}
		</div>
	</div>
</div>   

{{/ content}}

{{/ layouts/layout}}
