{{> header_template}}

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
/>
<div class="container">
	<div class="row">
		<div class="col-2">
			{{> filter_template}}
		</div>
		<div class="col-10">
			<div class="row">
				{{#productList}}
				<div class="col-3">
					
					{{> productPreview_template}}
					
				</div>
				{{/productList}}
				{{^productList}}
				<p>Empty list.</p>
				{{/productList}}
			</div>
		</div>
	</div>   
</div>

{{> footer_template}}
