{{< layouts/layout}}

{{$ profileSectionClass}}
active
{{/ profileSectionClass}}


{{$ content}}


<div class="container mt-3">
    <div class="d-flex justify-content-end">
        <a href="/profile/update" class="btn btn-primary d-flex align-items-center px-3 py-2 shadow-sm rounded-pill">
            <i class="bi bi-pencil-square me-2"></i> Edit Profile
        </a>
    </div>
</div>


{{#user}}
<div class="container mt-3">
    <div class="row">
        
        <div class="col-md-4 text-center">
            <div class="card shadow-lg p-4 border-0 align-items-center">
                <img src="/image/user" alt="Profile Photo" class="rounded-circle card-img-top object-fit-cover" style="height: 290px; width: 300px; object-fit: cover;">
                <h2 class="mt-3 text-primary">{{username}}</h2>
                <h5 class="text-muted">{{name}} {{surname}}</h5>
            </div>
        </div>

        <!-- User Information -->
        <div class="col-md-8">
            <div class="card shadow-lg p-4 border-0">
                <h3 class="mb-3 text-primary">Profile Information</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Email:</strong> {{email}}</li>
                    <li class="list-group-item"><strong>Location:</strong> 
                        {{#address}}{{.}}{{/address}}{{^address}}No address available{{/address}}, 
                        {{#city}}{{.}}{{/city}}{{^city}}No city available{{/city}}, 
                        {{#postalCode}}{{.}}{{/postalCode}}{{^postalCode}}No postal code available{{/postalCode}}
                    </li>
                    <li class="list-group-item"><strong>Phone:</strong> 
                        {{#phone}}{{.}}{{/phone}}{{^phone}}No phone available{{/phone}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="mt-5">
        <h3 class="text-primary">My Reviews</h3>
        <div class="overflow-auto">
            <div class="d-flex flex-nowrap p-3">
                {{#reviewPage.content}}
                <div class="card shadow-sm me-3" style="width: 300px; min-width: 300px;">
                    <div class="card-body">
                        <h6 class="text-primary mb-1"><a href="/product/{{product.id}}">{{product.name}}</a></h6>
                        <h5 class="text-dark">{{title}}</h5>
                        <p class="text-muted small text-truncate" style="max-width: 260px;">{{description}}</p>
                        <small class="text-muted">
                            <i class="bi bi-heart-fill text-danger me-2"></i>{{rating}}/5
                        </small>
                    </div>
                </div>
                {{/reviewPage.content}}
            </div>
            {{^reviewPage.content}}
            <div class="alert alert-info col-2" role="alert">
                <i class="bi bi-info-circle me-2"></i> No reviews placed yet.
            </div>
            {{/reviewPage.content}}
        </div>  

        <div class="d-flex justify-content-between mt-3">
            {{#hasPreviousReview}}
            <form action="/profile" method="get">
                <input type="hidden" name="page" value="{{previousPageReview}}">
                <input type="hidden" name="size" value="{{reviewPage.size}}">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle me-2"></i>Show Previous Reviews
                </button>
            </form>
            {{/hasPreviousReview}}
        
            {{#hasNextReview}}
            <form action="/profile" method="get">
                <input type="hidden" name="page" value="{{nextPageReview}}">
                <input type="hidden" name="size" value="{{reviewPage.size}}">
                <button type="submit" class="btn btn-primary"> Show More Reviews 
                    <i class="bi bi-arrow-right-circle ms-2"></i>
                </button>
            </form>
            {{/hasNextReview}}
        </div> 
    </div>

    <!-- Orders -->
    <div class="mt-5">
        <h3 class="text-primary">My Orders</h3>
        <div class="overflow-auto" style="white-space: nowrap;">
            {{#orderPage.content}}
            <div class="list-group-item shadow-sm p-3 border rounded d-inline-block me-3" style="width: 300px;">
                <h5 class="text-dark"><i class="bi bi-receipt me-2"></i>Order ID: {{id}}</h5>
                <p><strong>Date:</strong> {{creationDateFormattedSimpler}}</p>
                <ul>
                    {{#products}}
                    <li>{{name}} : ${{price}}</li>
                    {{/products}}

                    {{#nonContinuedProducts}}
                    <li>{{.}} : $ --- </li>
                    {{/nonContinuedProducts}}
                </ul>
                <p><strong>Total Price:</strong> ${{totalPriceString}}</p>
                <a class="btn btn-outline-primary btn-sm" href="/profile/order/{{id}}">View Details</a>
            </div>
            {{/orderPage.content}}
            {{^orderPage.content}}
            <div class="alert alert-info col-2" role="alert">
                <i class="bi bi-info-circle me-2"></i> No orders placed yet.
            </div>
            {{/orderPage.content}}
        </div>

        <div class="d-flex justify-content-between mt-3">
            {{#hasPreviousOrder}}
            <form action="/profile" method="get">
                <input type="hidden" name="page" value="{{previousPageOrder}}">
                <input type="hidden" name="size" value="{{orderPage.size}}">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle me-2"></i>Show Previous Orders
                </button>
            </form>
            {{/hasPreviousOrder}}
        
            {{#hasNextOrder}}
            <form action="/profile" method="get">
                <input type="hidden" name="page" value="{{nextPageOrder}}">
                <input type="hidden" name="size" value="{{orderPage.size}}">
                <button type="submit" class="btn btn-primary">
                    Show More Orders <i class="bi bi-arrow-right-circle ms-2"></i>
                </button>
            </form>
            {{/hasNextOrder}}
        </div> 
    </div>

<!-- Products for Sale -->
<div class="mt-5">
    <h3 class="text-primary">My Products for Sale</h3>
    <div class="d-flex justify-content-end mb-3">
        <a href="/product/new" class="btn btn-primary"><i class="bi bi-box-seam me-2"></i> Sell New Product</a>
    </div>
    <div class="overflow-auto p-4">
        <div class="row" id="productList">
            {{#productsForSell}}
            <div class="col-3 p-3">

                {{> product_preview_template}}

            </div>
            {{/productsForSell}}
            {{^productsForSell}}
            <div class="alert alert-info col-2" role="alert">
                <i class="bi bi-info-circle me-2"></i> No products placed yet.
            </div>
            {{/productsForSell}}
        </div>
    </div>
</div>
{{/user}}

<!-- Message if there is no user -->
{{^user}}
<div class="mt-5 text-center">
    <p class="text-muted">No user information available.</p>
</div>
{{/user}}

{{/ content}}
{{/ layouts/layout}}
