{{< layouts/layout}} {{$ content}} 

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
	<div class="card p-4 shadow-sm" style="width: 350px;">
		<h3 class="text-center mb-4">Register</h3>
		<form action="/register" method="post" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="profileImage" class="form-label">Profile Image (Optional)</label>
				<input type="file" class="form-control" id="image" name="image" accept=".jpg, .jpeg, .png">
				{{# imageError}}
				<small class="text-danger">{{.}}</small>
				{{/ imageError}}
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Name *</label>
				<input type="name" class="form-control" id="name" name="name" {{# user.name}}value="{{.}}"{{/ user.name}} required>
				{{#errors.name}}
				<small class="text-danger">{{.}}</small>
				{{/errors.name}}
			</div>
			
			<div class="mb-3">
				<label for="lastname" class="form-label">Last Name *</label>
				<input type="surname" class="form-control" id="surname" name="surname" {{# user.surname}}value="{{.}}"{{/ user.surname}} required>
				{{#errors.surname}}
				<small class="text-danger">{{.}}</small>
				{{/errors.surname}}
			</div>
			<div class="mb-3">
				<label for="username" class="form-label">Username *</label>
				<input type="username" class="form-control" id="username" name="userName" {{# user.userName}}value="{{.}}"{{/ user.userName}} required>
				{{# userNameError}}
					<small class="text-danger">{{.}}</small>
				{{/ userNameError}}
				{{^ userNameError}}
					{{# errors.userName}}
						<small class="text-danger">{{.}}</small>
					{{/ errors.userName}}
				{{/ userNameError}}
				
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email *</label>
				<input type="email" class="form-control" id="email" name="email" {{# user.email}}value="{{.}}"{{/ user.email}} required>
				{{#errors.email}}
				<small class="text-danger">{{.}}</small>
				{{/errors.email}}
			</div>
			<div class="mb-3">
				<label for="address" class="form-label">Address (Optional)</label>
				<input type="tel" class="form-control" id="address" name="address" {{# user.address}}value="{{.}}"{{/ user.address}}>
				{{#errors.address}}
				<small class="text-danger">{{.}}</small>
				{{/errors.address}}
			</div>
			<div class="mb-3">
				<label for="city" class="form-label">City (Optional)</label>
				<input type="tel" class="form-control" id="city" name="city" {{# user.city}}value="{{.}}"{{/ user.city}}>
				{{#errors.city}}
				<small class="text-danger">{{.}}</small>
				{{/errors.city}}
			</div>
			<div class="mb-3">
				<label for="postalCode" class="form-label">Postal Code (Optional)</label>
				<input type="tel" class="form-control" id="postalCode" name="postalCode" {{# user.postalCode}}value="{{.}}"{{/ user.postalCode}}>
				{{#errors.postalCode}}
				<small class="text-danger">{{.}}</small>
				{{/errors.postalCode}}
			</div>
			<div class="mb-3">
				<label for="phone" class="form-label">Phone Number (Optional)</label>
				<input type="tel" class="form-control" id="phone" name="phone" {{# user.phone}}value="{{.}}"{{/ user.phone}}>
				{{#errors.phone}}
				<small class="text-danger">{{.}}</small>
				{{/errors.phone}}
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password *</label>
				<input type="password" class="form-control" id="password" name="password" required>
				{{#errors.password}}
				<small class="text-danger">{{.}}</small>
				{{/errors.encodedPassword}}
			</div>
			<div class="mb-3">
				<label for="repeatedPassword" class="form-label">Confirm Password *</label>
				<input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword" required>
				{{# confirmPasswordError}}
				<small class="text-danger">{{.}}</small>
				{{/ confirmPasswordError}}
			</div>
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
			<p class="text-center mt-3 text-muted small">Already have an account? <a href="/login"
					class="text-primary">Login</a></p>
		</form>
	</div>
</div>

{{/ content}}
{{/ layouts/layout}}