{{< layouts/layout}} 

{{$ searchSectionClass}}
active
{{/ searchSectionClass}}

{{$ content}} 
<div class="m-4">
	<button class="btn btn-primary col-2" data-bs-toggle="offcanvas" data-bs-target="#filtroOffcanvas">
		Add Filters >>
	</button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="filtroOffcanvas">
	<div class="offcanvas-header">
		<h3 class="offcanvas-title">Filters</h3>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body">
		{{> filter_template}}
	</div>
</div>

<div class="row m-4">
    <div class="">
        <div class="row" id="productList">
            {{#productPage.content}}
            <div class="col-3 p-3">
                {{> product_preview_template}}
            </div>
            {{/productPage.content}}

            {{^productPage.content}}
            <p>No results found.</p>
            {{/productPage.content}}
        </div>

		<button id="loadMore" class="btn btn-outline-primary mt-4" style="display: block;">
            Show More Products <i class="bi bi-arrow-right-circle ms-2"></i>
        </button>
        <div id="spinner" style="display: none;" class="spinner-border text-primary mt-4" role="status"></div>

    </div>
</div>

<!-- Custom JS -->
<script src="/js/pageableSearch.js" defer></script>

{{/ content}}

{{/ layouts/layout}}