{{< layouts/layout}} 

{{$ searchSectionClass}}
active
{{/ searchSectionClass}}

{{$ content}} 
<div class="m-4">
	<button class="btn btn-primary col-2" data-bs-toggle="offcanvas" data-bs-target="#filtroOffcanvas">
		Add Filters >>
	</button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="filtroOffcanvas">
	<div class="offcanvas-header">
		<h3 class="offcanvas-title">Filters</h3>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body">
		{{> filter_template}}
	</div>
</div>

<div class="row m-4">
	<div class="">
		<div class="row" id="productList">
			{{#productList}}
			<div class="col-3 p-3">

				{{> product_preview_template}}

			</div>
			{{/productList}}
			{{^productList}}
			<p>No results found.</p>
			{{/productList}}
		</div>
	</div>
</div>

{{/ content}}

{{/ layouts/layout}}